<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Website</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"> OpenSea.io</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a th:href="@{/}" href="#" class="navbar__links">home</a>
                </li>
                <li class="navbar__item">
                    <a th:href="@{/explore}" href="#coll" class="navbar__links">Explore</a>
                </li>
                <li class="navbar__item">
                    <a th:href="@{/gallery}" href="" class="navbar__links">Gallery</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">login</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">logout</a>
                </li>
                <li class="navbar__item">
                    <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                </li>
                <li class="navbar__item">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Join the <span class="text-highlight">Movement and Unlock</span> Unique Art</h1>
                <p>Discover our work below</p>
                <button class="main__btn"><a href="#coll">View Collection</a></button>
            </div>
            <div class="main__img--container">
                <img src="../images/monkey0.png" alt="cat" id="main__img"/>
            </div>
        </div>
    </div>

    <!-- Images Section -->
    <section>
    <div class="images" id="coll">
        <h1>Explore our Collection</h1>
        <div class="images__container">
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #0001</p>
                
            </div>
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #0002</p>
            </div>
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #0003</p>
            </div>
            <div class="images__card">
                <h2>CryptoCats</h2>
                <p>Ape #0024</p>
            </div>
            <div class="images__card">
                <h2>CryptoCats</h2>
                <p>Ape #0169</p>
            </div>
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #7208</p>
            </div>
        </div>
    </div>
   </section>

    <!-- Footer Section -->
    <div class="footer__container">
        <p class="website__rights">&#169 NFT 2022. All rights reserved</p>
    </div>
    
    <script src="../js/app.js"></script>
</body>
</html>