<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Website</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Images Section -->
    <section>
    <div class="images" id="coll">
        <h1>Gallery</h1>
        <div class="images__container">
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #0001</p>
                
            </div>
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #0002</p>
            </div>
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #0003</p>
            </div>
            <div class="images__card">
                <h2>CryptoCats</h2>
                <p>Ape #0024</p>
            </div>
            <div class="images__card">
                <h2>CryptoCats</h2>
                <p>Ape #0169</p>
            </div>
            <div class="images__card">
                <h2>CryptoApes</h2>
                <p>Ape #7208</p>
            </div>
        </div>
    </div>
   </section>

    <!-- Footer Section -->
    <div class="footer__container">
        <p class="website__rights">&#169 NFT 2022. All rights reserved</p>
    </div>
    
    <script src="../static/js/app.js"></script>
</body>
</html>